html, body {
  font-family: 'Moon Flower', "Helvetica Neue", Arial, Verdana, sans-serif;
  font-size: 24px;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

$root-size-web: 400px;

.root {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $root-size-web;
  margin-left: -($root-size-web/2);
  margin-top: -($root-size-web/2);
}