@font-face {
  font-family: "Berkshire Swash";
  src: url(../static/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf);
}
@font-face {
  font-family: "Moon Flower Bold";
  src: url(../static/fonts/moon_flower/MoonFlowerBold.ttf);
}
@font-face {
  font-family: "Moon Flower";
  src: url(../static/fonts/moon_flower/MoonFlower.ttf);
}
@font-face {
  font-family: "The Only Exception";
  src: url(../static/fonts/the_only_exception/TheOnlyException.ttf);
}
@font-face {
  font-family: "Nexa Slab Light";
  src: url(../static/fonts/NexaSlab/Nexa-Slab-Light.otf);
}
@font-face {
  font-family: "Lato Light";
  src: url(../static/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: "HVD Bodedo";
  src: url(../static/fonts/HVD_Bodedo.ttf);
}