.footer {
  text-align: center;
  margin: $body-gap 0;
  font-family: "Moon Flower";
  font-size: 30px;

  @include respond-to(tablet) {
    font-size: 40px;
  }
}

.date-wrapper,
.timer {
  display: block;
}

.date-wrapper {
  .date {
    display: block;
    @include respond-to(tablet) {
      display: inline-block;
    }
  }
  strong {
    font-size: 35px;

    @include respond-to(tablet) {
      font-size: 45px;
    }
  }
}

.timer {
  font-size: 32px;
}