.footer {
  text-align: center;
  margin: $grid-gutter-width 0;
  border-top: 1px solid $color-lightenGray;
}

.date-wrapper,
.timer {
  display: block;
}

.date-wrapper {
  .date {
    display: block;
    @include respond-to(tablet) {
      display: inline-block;
    }
  }
}