$menu-element-height: 50px;
$menu-element-height-mobile: $menu-element-height - 5;
$navbar-items: 4;
$navbar-item-height: 52px;

.navbar-wrapper {
  font-family: "Moon Flower";
  font-size: 30px;

  @include respond-to(tablet) {
    padding: 0;
    font-size: 40px;
  }
}

.navbar {
  border-bottom: dashed 1px $color-lightGray;

  @include respond-to(tablet) {
    text-align: center;
    margin-top: $body-gap;
    margin-bottom: 0;
    padding: 0;
  }

  .bird {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    display: block;
    margin-top: $body-gap/2;

    &:hover {
      border-color: transparent;
    }

    @include respond-to(tablet) {
      width: 100px;
      margin-top: 0;
    }

    img {
      max-width: 100%;
    }
  }

  .main-menu {
    text-transform: uppercase;
    font-size: 12px;
    list-style: none;
    padding: 0;
    height: 0;
    margin: 0;
    transition: height .2s, border .2s;
    background: $color-white;
    width: 100%;

    @include respond-to(tablet-down) {
      overflow: hidden;
      z-index: 2;
      position: relative;
    }

    &.open {
      @include respond-to(tablet-down) {
        height: $navbar-item-height * $navbar-items;
        border-color: $color-highlight;
        margin-bottom: 10px;
      }
    }

    @include respond-to(tablet) {
      @include clearfix();
      height: auto;
      margin: 0;
      font-size: 12px;
      width: auto;
      border-top: 0;
      display: inline-block;
    }

    li {
      padding: 0 0 0 20px;
      position: relative;

      @include respond-to(tablet) {
        float: left;
        padding: $menu-element-height/2 $menu-element-height/4 $menu-element-height/4;
      }

      a {
        font-size: $menu-element-height-mobile;
        color: inherit;
        text-decoration: none;
        display: block;
        border: none;

        &:hover {
          text-decoration: none;
        }

        @include respond-to(tablet) {
          display: inline;
          font-size: $menu-element-height;
        }
      }
      a:hover,
      &.active a {
        color: $color-red;
      }
      &.active a {
        font-family: "Moon Flower Bold";
      }
      &::after {
        vertical-align: top;
        line-height: $menu-element-height;
        content: $heart;
        position: absolute;
        left: 0;
        top: 0;
        font-size: 24px;
        color: $color-highlight;

        @include respond-to(tablet) {
          top: auto;
          left: -4px;
        }
      }
      &:first-child::after {
        @include respond-to(tablet) {
          content: none;
        }
      }
    }
  }

  .toggle-button {
    display: block;
    padding: 3px 0;
    float: right;
    cursor: pointer;
    margin: 15px 0;
    outline: none;

    @include respond-to(tablet) {
      display: none;
    }

    .divider {
      background: $color-highlight;
      width: 40px;
      height: 5px;
      display: block;
      margin: 5px 0;
    }
  }
}