<div class="map">
  <ng-map class="map-container" center="[49.7859965,18.8949578]">
    <directions
      draggable="true"
      panel="directions-panel"
      travel-mode="DRIVING"
      origin="[49.8032417, 18.8609474]"
      destination="[49.7621548, 18.9121776]">
    </directions>
    <custom-marker id="start" position="[49.8032417, 18.8609474]">
      <div>Ślub</div>
    </custom-marker>
    <custom-marker id="end" position="[49.7621548,18.9121776]">
      <div>Wesele</div>
    </custom-marker>
    <custom-marker id="rooms" position="[49.783465,18.9448489]">
      <div>Noclegi</div>
    </custom-marker>
    <custom-marker id="house" position="[49.7957778,18.8731009]">
      <div>Dom</div>
    </custom-marker>
  </ng-map>
</div>

<h1>Adresy:</h1>

<ul class="custom-list">
  <li><strong>Ślub</strong>: Parafia rzymskokatolicka pw. św. Bartłomieja w Grodźcu <a href="http://www.parafiagrodziec.pl/" target="_blank">www.parafiagrodziec.pl</a></li>
  <li><strong>Wesele</strong>: Gościniec Szumny, Jaworze Nałęże, Grabka 21 <a href="http://www.gosciniecszumny.pl/" target="_blank">www.gosciniecszumny.pl</a></li>
  <li><strong>Dom</strong>: Grodziec 367</li>
  <li><strong>Noclegi</strong>: Gościniec Szumny, Jaworze, Zajęcza 51 <a href="http://www.gosciniecszumny.pl/" target="_blank">www.gosciniecszumny.pl</a></li>
</ul>