<div class="navbar-wrapper">
  <div class="navbar">
    <a class="logo" ui-sref="filmy({movie:''})">
      <img src="/static/images/logo.png" alt=""/>
    </a>

    <h1 class="title" ng-if="!movie">Nasze filmy</h1>
    <h1 class="title" ng-if="movie" ng-bind-html="movie.title"></h1>
  </div>
</div>

<div class="movie-content">
  <div
    ng-if="movie"
    ng-class="{ open: movie }"
    class="movie-container">
    <div class="video-container">
      <div class="video-element">
        <div class="loader"></div>
        <div class="video-wrapper">
          <custom-video
            class="video"
            source="movie.src">
          </custom-video>
        </div>
      </div>
    </div>
    <div class="description" ng-bind-html="movie.description"></div>
  </div>

  <ul class="movies-container">
    <li
      class="movie"
      ng-repeat="movie in movies"
      ng-class="{ highlight: movie.highlighted }"
      ng-if="movie.privacy.view === 'anybody'">
      <a ui-sref="filmy({ movie: idMaker(movie.uri) })" ng-click="toTop()" title="">
        <div class="image-wrapper">
          <custom-image
            class="image"
            source="movie.pictures.sizes[4].link"
            title="movie.name"
          >
          </custom-image>
          <div class="meta-wrapper">
            <div class="meta">
              <span class="title" ng-bind-html="movie.name"></span>
              <span class="description" ng-bind-html="movie.description"></span>
            </div>
          </div>
        </div>
      </a>
    </li>
  </ul>
</div>
